.nav{
     color:  #1b4d89;
}


.header{
    background-color:  #6db784;
}
.montfont {
    font-family: 'Montserrat', sans-serif;
}

.lorafont {
    font-family: 'Lora', serif;
}


:root {
    --c-1: #1b4d89;

    --c-2: #f9e45b;

    --c-3: #6db784;

    --c-4: #ffffff;
}

.tx-1 {
    color: var(--c-1);
}

.tx-2 {
    color: var(--c-2);
}

.tx-3 {
    color: var(--c-3);
}

.tx-4{
    color: var(--c-4);
}

.bg-1 {
    color: var(--c-1);
}

.bg-2 {
    color: var(--c-2);
}

.bg-3 {
    color: var(--c-3);
}

.bg-4 {
    color: var(--c-4);
}